* {box-sizing:border-box;}
body {background-color: #CCC;}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.wikipedia-container {
    float:right;
    width:290px;
    padding:10px;
    margin-right: 10px;
    background-color: rgba(255,255,255,0.7);
}

.nytimes-container {
    padding: 10px;
    margin-right:300px;
    background-color: rgba(255,255,255,0.7);
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}

<!-- css for about me -->

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i');

body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
  font-size: 16px;
  font-weight: 300;
  color: #BFBFBF;
  line-height: 50px;
}

header {
  color: #FFF;
  background: #7596B8;
  font-weight: 700;
  font-size: 24px;
}

.container {
  padding: 20px;
}

.item {
  margin: 20px 0;
}

h2 {
  color: #7596B8;
  font-weight: 700;
  border-bottom: 5px solid #7596B8;
  display: inline-block;
  line-height: 40px;
  margin-top: 28px;
}

.rule {
  box-sizing: border-box;
  height: 1px;
  background: #7596B8;
}

h3 {
  color: #979797;
  font-weight: 700;
  margin-top: 20px;
}

.of {
  font-weight: 300;
  font-style: italic;
}

h4 {

}

h4 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3, h4 {
  line-height: 28px;
}

h5 {
  font-size: 10px;
  color: #7596B8;
  margin-top: 0;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

footer {
  background: #7596B8;
  color: #FFF;
  margin-top: 60px;
}

footer h3 {
  color: #FFF;
}

footer h4 {
  color: #EEE;
}

@media (min-width: 645px) {
  
  body, h1, h2, h3, h4 {
    font-size: 24px;
  }
  
  header {
    padding: 30px 0;
    margin-bottom: 16px;
    font-size: 32px;
  }
  
  .container {
    width: 85%;
    margin: 0 auto;
  }
  
  h5 {
    font-size: 12px;
  }
  
  h3, h4 {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
  }
    
  h4 ul {
    margin-right: 48px;
  }
  
  h4 li {
    padding: 0 0 12px 0;
  }
  
  footer {
    padding: 30px 0 40px;
  }
  
}

@media (min-width: 820px) {
  
  .container {
    width: 820px;
    margin: 0 auto;
  }
  
}